$content-editor-layout-background: #fe8a71;
//$content-editor-components-background: #f6cd61;
$content-editor-components-background: #fff9f1;

/*$content-editor-component-color: #3da4ab;
$content-editor-component-hover-outline: #0e9aa7;*/

$content-editor-component-color: #9caa9b;
$content-editor-component-hover-outline: #778b76;

$content-editor-danger: #ab3d3d;

/*$content-editor-layout-background: #9b9fe3;
$content-editor-components-background: #9b9fe3;
$content-editor-component-color: #212adb;
$content-editor-danger: #212adb;
$content-editor-component-hover-outline: #ff0000;
*/
